<ion-view view-title="askPic" class="backgroundGray">
	<div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a class="arrow" href=""><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
	<ion-content class="padding center">
		<div class="list">
            <div class="item"></div>
            
            <div class="item uppercase">
                <img class="title-image green" src="img/profile.jpg" width="100px" />
                <p>Emilia Clarke</p>
                <h6>Chicago, USA</h6>
            </div>
                <div class="item"></div>
                <div class="item message">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique justo sit amet velit luctus, ut mollis nisi tincidunt. Pellentesque fringilla tellus et purus pretium dignissim.</p>
            </div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item">
                <a class="btn-yes rightSpace" href="#"></a>
                <a class="btn-no" href="#"></a>
            </div>
            <div class="item"></div>
		</div>
	</ion-content>
</ion-view>