<ion-view view-title="chat" class="backgroundGray" ng-controller="ChatCtrl">
	<div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a class="arrow" href="#/happeningNow"><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
	<ion-content class="padding center">
		<div class="list">
            <div class="item"></div>
            
            <div class="item">
                <h2>Chat</h2> 
                <label class="item item-input noBorder">
                    <input type="search" placeholder="Search">
                </label>
            </div>
            <div class="item">
                    <div class="locationsContainer">
                      <div class="location" ng-repeat="user in users | filter:searchText">
                        <img class="location__picture" src="img/Transparent.png" ng-style="{'background-image': 'url({{user.avatar}})'}" on-touch="getChatList($event)" id="{{user.userId}}" chatId="{{user.chatID}}">
                        <span class="location__name">{{user.username}}</span>
                      </div>                      
                    </div>
            </div>
            <div class="item"></div>
		</div>
	</ion-content>
</ion-view>