<ion-view view-title="getStarted" class="background2">
	<div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a class="arrow" href="#/home"><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
	<ion-content class="padding center">
		<div class="list">
            <div class="item"></div>
            <div class="item">
		          <h2>GET STARTED</h2>
            </div>
            <div class="item"></div>
            
            <div class="item">
		    <form ng-submit="">
          <div ng-include="'/templates/partials/signUp-form.html'"></div>
        </form>
    </div>
	</div>
	</ion-content>
    <ion-footer-bar class="center" >
  <div class="list terms">
    <div class="item"><p>By Joining Wish A Pic you agree to the </p><p><a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p></div>
  </div>
  </ion-footer-bar>
</ion-view>