<ion-view view-title="happening now" ng-controller="happeningNowCtrl">
  <ul class="actionButtons">
    <li><a class="actionButton actionButton_green">2</a></li>
    <li><a class="actionButton actionButton_red">3</a></li>
    <li><a class="actionButton actionButton_blue">2</a></li>
    <li><a class="actionButton actionButton_yellow"></a></li>
  </ul>
  <ion-content class="padding">
    <h2 class="title_button title_gray center"><span>Happening Now</span><span class="buttonContainer"><a class="button icon button_bg_world"></span></a></h2>
    <div class="profileCardsContainer">
      <div class="profileCard">
        <div class="profileCard__content">
          <img class="profileCard__picture" src="img/Transparent.png" style="background-image: url(img/Testprofile.jpg)" />
          <div class="profileCard__userPhoto"><img src="img/profile.jpg" /></div>
          <p class="profileCard__userName">Ammanda Roberts</p>
          <p class="profileCard__comment">Lorem ipsum dolor sit amet, has purto dolore noster eu. Ex eligendi offendit vis, ne vel consul delicata volutpat.</p>
          <div class="tagsContainer">
            <span class="tag tag_pink">test</span><span class="tag tag_pink">hey</span><span class="tag tag_pink">wat world</span>
          </div>
        </div>
      </div>
      <div class="profileCard">
        <div class="profileCard__content">
          <img class="profileCard__picture" src="img/Transparent.png" style="background-image: url(img/Testprofile.jpg)" />
          <div class="profileCard__userPhoto"><img src="img/profile.jpg" /></div>
          <p class="profileCard__userName">Ammanda Roberts</p>
          <p class="profileCard__comment">Lorem ipsum dolor sit amet, has purto dolore noster eu.</p>
          <div class="tagsContainer">
            <span class="tag tag_pink">test</span><span class="tag tag_pink">hey</span><span class="tag tag_pink">wat world</span>
          </div>
        </div>
      </div>
      <div class="profileCard">
        <div class="profileCard__content">
          <img class="profileCard__picture" src="img/Transparent.png" style="background-image: url(img/Testprofile.jpg)" />
          <div class="profileCard__userPhoto"><img src="img/profile.jpg" /></div>
          <p class="profileCard__userName">Ammanda Roberts</p>
          <p class="profileCard__comment">Lorem ipsum dolor sit amet, has purto dolore noster eu.</p>
          <div class="tagsContainer">
            <span class="tag tag_pink">test</span><span class="tag tag_pink">hey</span><span class="tag tag_pink">wat world</span>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
