<ion-view view-title="Login" name="login-view" class="background">
  <div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a href="#/home"><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
  <ion-content class="padding center">
      <div class="list">
        <div class="item"></div>
        <div class="item">
          <h2>LOGIN</h2>
        </div>
        <div class="item"></div>
        <div class="item">
           <label class="item item-input">
            <i class="icon ion-ios-email-outline"></i>
              <input  type="text" placeholder="Username or Email" ng-model="data.username">
          </label>
          <label class="item item-input">
              <i class="ion-ios-locked-outline"></i>
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </div>
        <div class="item">
          <a href="#/forgotPass">Forgot Password?</a>
        </div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"><button class="button button-outline button-wish" ui-sref="">Login</button></div>
      </div>
  </ion-content>
</ion-view>