<ion-view view-title="newPassword" name="login-view" class="background" id="newpassword" ng-controller="">
  <div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a class="arrow" href="#/home"><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
  <ion-content class="padding center">
      <div class="list">
        <div class="item"></div>
        <div class="item">
          <h2>LOGIN</h2>
        </div>
        <div class="item"></div>
        <form ng-submit="">
          <div class="item">
            <label class="item item-input">
                <i class="ion-ios-locked-outline"></i>
                <input type="password" placeholder="New Password" name="newpassword" id="newpassword" ng-model="">
            </label>
              <label class="item item-input">
                <i class="ion-ios-locked-outline"></i>
                <input type="password" placeholder="Confirm Password" name="confpassword" id="confpassword" ng-model="">
            </label>
          </div>
          <div class="item">
            <a href="#/forgotPass">Forgot Password?</a>
          </div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item">
            <button class="button button-outline button-wish" type="submit">Save</button>
          </div>
        </div>
      </form>
  </ion-content>
</ion-view>