<ion-view view-title="profilePic" class="backgroundGray">
	<div class="bar bar-header">
    <div class="list complete">
      <div class="item">
        <a class="arrow" href="#/camera"><i class="ion-ios-arrow-thin-left"></i></a>
          <a class="pink edit" href="#/editProfile">Edit</a>
      </div>
    </div>
</div>
	<ion-content class="padding center">
		<div class="list">
            <div class="item"></div>
            <div class="item">
                <img class="title-image" src="img/profile.jpg" width="110px" />
                 <p>Sofia Crespy</p>
            </div>
            <div class="item table">
                <ul class="circleList">
                    <li><p class="circleP circlePink"><i class="icon ion-ios-email-outline"></i></p>
                    </li>
                </ul>
            </div>
            <div class="item table">
                <ul class="circleList">
                    <li><p class="circleP">#</p>
                <h6>Following</h6></li>
                    <li><p class="circleP">#</p>
                <h6>Pictures</h6></li>
                    <li><p class="circleP">#</p>
                <h6>Followers</h6></li>                    
                </ul>
            </div>
            <div class="item">
                <p>Lorem ipsum dolor</p>
                <p>sit amet</p>
                <p>consectetur adipiscing elit</p>
                <p>Mauris id auctor</p>                
            </div>
            <div class="item">
                    <ul class="picList">
                        <li><img class="square first" src="img/profile.jpg" width="180px" /></li>
                        <li><img class="square" src="img/profile.jpg" width="180px" /></li>
                        <li><img class="square" src="img/profile.jpg" width="180px" /></li>
                        <li><img class="square" src="img/profile.jpg" width="180px" /></li>
                        <li><img class="square" src="img/profile.jpg" width="180px" /></li>
                        
                    </ul>
            </div>
    <div class="item"></div>
        </div>
           
	</ion-content>
</ion-view>