<ion-view view-title="Wished" class="backgroundGray" ng-controller="WishedCtrl">
	<div class="bar bar-header">
    <div class="list">
      <div class="item">
        <a class="arrow" href="#/happeningNow"><i class="ion-ios-arrow-thin-left"></i></a>
      </div>
    </div>
</div>
	<ion-content class="padding">
		<div class="list">
            <div class="item"></div>
            <div class="item center">
                <h1 class="greenFont">Wished</h1>
            </div>
            <div class="item uppercase">
                <ul class="mobileList">
                    <li class="item" ng-repeat="wish in wishes" >
                        <img class="title-image green" id="{{wish.id}}" src="{{wish.avatar}}" width="110px" on-touch="getWished($event)"/>
                        <div class="textbox">
                            <p>{{wish.username}}</p>
                            <h6>{{wish.location}}</h6>
                        </div>  
                    </li>                                       
                </ul>                
            </div>            
		</div>
	</ion-content>
</ion-view>