<label class="item item-input ">
    <i class="icon ion-ios-person-outline"></i>
    <input  type="text" placeholder="Enter username" name="username" id="username" 
            ng-model="model.username" 
            ng-required="required" />
</label>
<label class="item item-input">
    <i class="icon ion-ios-email-outline"></i>
    <input type="text" placeholder="Enter email adress" name="email" id="email" 
            ng-model="model.email" 
            ng-required="required" />
</label>
<div>
    <label class="short-input item item-input">
    <input  type="number" ng-maxlength="2" placeholder="Age" name="age" id="age" 
            ng-model="model.age" 
            ng-required="required" />
</label>
<label class="short-input item item-input select-input">   
    <select name="gender" ng-model="model.gender"  ng-required="required">
        <option value="" disabled selected>Gender</option>
        <option value="f" checked="true">Female</option>
        <option value="m">Male</option>
    </select>
</label>
<div class="clear"></div>
</div>
<div class="clear"></div>
<label class="item item-input select-input">
     <i class="no-icon"></i>     
     <div ng-include="'/templates/partials/country-select.html'"></div>
</label>
<label class="item item-input">
  <i class="ion-ios-locked-outline"></i>
  <input type="password" placeholder="New Password" name="password" id="password" 
            ng-model="model.password"  ng-required="required" />
</label>
  <label class="item item-input">
    <i class="ion-ios-locked-outline"></i>
    <input type="password" placeholder="Confirm Password" name="confpassword" id="confpassword" 
            ng-model="model.confpassword"  ng-required="required" />
</label>                  
  