/* Empty. Add your own CSS if you like */

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*                   WEB FONTS                         */
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('font/HelveticaNeueLTStd');
    src: url('font/HelveticaNeueLTStd') format('embedded-opentype'),
         url('font/HelveticaNeueLTStd.woff') format('woff'),
         url('font/HelveticaNeueLTStd.ttf') format('truetype'),
         url('font/HelveticaNeueLTStd.svg#HelveticaNeueLTStd') format('svg');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('font/Quicksand-Bold');
    src: url('font/Quicksand-Bold') format('embedded-opentype'),
         url('font/Quicksand-Bold.woff') format('woff'),
         url('font/Quicksand-Bold.ttf') format('truetype'),
         url('font/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
}
/*-*-*-*-*-*-* Elements*-*-*-*-*-*/
select{
    background: transparent;
    border:none;
    color:#fff;
}
select option{
    color: #000;
}

.clear{
    clear: both;
}

.message p{
    font-size: 20px;
    padding-bottom: 5px;
}
.pink{
    color: #ee2d56!important;
}

.hidden{              /*To hide messages add the class hidden*/     
    visibility: hidden;
}

.borderTop{
    border-top: solid 1px #989da2!important;
}
.borderBottom{
    border-bottom: solid 1px #989da2!important;
}

.noBorder{
    border-bottom: 0!important;
}
.nopadding{
    padding-bottom: 0;
    padding-top: 0;
}

.btn-yes{
    display: inline-block;
    background-color: #b3d3be;
    padding: 2px 8px;
    width:90px;
    height: 90px;
    border-radius: 50px;
    text-decoration: none;   
}

.btn-no{  
    display: inline-block;
    background-color: #f09592;
    padding: 2px 8px;
    width:60px;
    height:60px;
    border-radius: 50px;
    text-decoration: none;    
}

.rightSpace{
    margin-right: 25px;
}
/*-*-*-*-*-*-* Header*-*-*-*-*-*/
.bar-header{
	background-color: transparent;
	border-color: transparent;
}

.bar-header a.arrow{
    padding-left: 16px;
}

.bar-header a i{
	font-size: 35px;
	font-weight: 
}

/*-*-*-*-*-*-* Titles size*-*-*-*-*-*/
h1 { font-size: 36px!important;}
h2 { font-size: 22px!important;}
h3 { font-size: 18px!important;}
h4 { font-size: 16px!important;}
h5 { font-size: 12px!important;}
h6 { font-size: 10px!important;}

/*-*-*-*-*-Placeholder styles-*-*-*-*-*-*/
::-webkit-input-placeholder {
   color: #fff!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


.pane, .pane h1{
	/*font-family: 'HelveticaNeueLTStd', Helvetica, Arial, sans-serif;*/
    /*font-family: 'Quicksand-Bold', Helvetica, Arial, sans-serif;*/
}
.home{
	 /*background: linear-gradient(transparent 0%,#000 150%), url("../img/test1.jpg") no-repeat center center; */

	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.background{
	 background: linear-gradient(transparent 0%,#000 150%), url("../img/test2.jpg") no-repeat center center; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.background2{
	 background: linear-gradient(transparent 0%,#000 150%), url("../img/test3.jpg") no-repeat center center; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.center{
	text-align: center;
}
.list h1, .list h2, .list h6, .list p, .list i{
	color: #fff;
}
.list i{
	font-size: 20px;
	padding-right: 10px; 
}
.item p{
    white-space: normal;
}
.item p a, .item a{
    color:#fff;
	text-decoration: none;
}
.item p a:active, .item a:active{
    color: #ee2d56;
	text-decoration: underline;
}
.item {
    border-color: transparent;
    background: transparent;
}

.item label{
	border-bottom: solid 1px #989da2;
}
.item input[type="text"], .item input[type="password"], .item input[type="number"]{
	color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*Buttons styles*/

.button.button-wish{
	width: 110px;
	border-color: #ee2d56;
    background: transparent;
    color: #ee2d56;
    border-radius:5px; 
}
.button.button-wish.active, .button.button-wish.activated{
	background-color: #ee2d56;
    box-shadow: none;
    color: #fff;
}

.checkbox-wish{
    display: inline-flex!important; 
    padding-left: 5px;}
.checkbox-wish input{
    margin-left: 20px;
}
.checkbox-wish input:before,
.checkbox-wish .checkbox-icon:before {
  border-color: #ee2d56;
  background: transparent;}

.checkbox-wish input:checked:before,
.checkbox-wish input:checked + .checkbox-icon:before {
  background: #ee2d56;
  border-color: #ee2d56; }

/*-*-*-*-*-*-Form Styles-*-*-*-*-*/
.no-icon{
    padding-left: 12px;
}

.short-input,{
    display: inline-block;
    float: left;
    margin-right: 70px;
}
.short-input input[type="number"]{
    width: 55px;
}
.short-input select{
    padding-top: 8px;
   padding-bottom: 8px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#circleList {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
ul.circleList li{
    float:left;
   display: inline; 
    margin: 0 15px;
}

ul.circleList li h6{
    padding: 10px 0;
}

/*-*-*-*-*-*-Profiles-*-*-*-*-*/

.backgroundGray{
   background-color: #e9e9eb;
}

.backgroundGray p, .backgroundGray i, .backgroundGray h2,  .backgroundGray h6, .backgroundGray select, .backgroundGray input[type="text"], .backgroundGray .item input[type="password"], .backgroundGray input[type="number"], .backgroundGray ::-webkit-input-placeholder {
   color: #7c7c7e !important; 
}

.backgroundGray img{
    border-radius: 55px;
}

.backgroundGray input[type="search"]{
    text-align: center;
    background-color: #fff;
}

.bold{
    font-weight: 500!important;
}
/*-*-*-*-*-*-Image borders-*-*-*-*-*/
.backgroundGray .uppercase{
    text-transform: uppercase;
}
.backgroundGray .red{
    border: solid 6px #f09592;
}
.backgroundGray .green{
    border: solid 6px #b3d3be;
}

.backgroundGray .blue{
    border: solid 6px #5d7eb1;
}

.backgroundGray .pinky{
    border: solid 6px #ec7577;
}
.backgroundGray .transparent{
    border: 6px solid rgba(255, 255, 255, .5);
    position: absolute;
    margin-left: -140px;
    bottom: 0;
    margin-bottom: -30px;
}
.backgroundGray .transparent + p{
    position: absolute;
    bottom: -50px;
    margin-left: 50px;
}
   
.backgroundGray .blueFont{
    color: #5d7eb1;
}

.backgroundGray .pinkFont{
    color: #e2466d;
}

.backgroundGray .greenFont{
    color: #8dc2a6;
}

/*-*-*-*-*-*-Chat-*-*-*-*-*/
.chat, .profileList{
    margin: 0 auto;
    overflow: hidden;
    max-width:420px; 
    height: auto;
}
.chat li, .profileList li{
    position:relative;
    display: inline-block;
    float:left;
    margin: 30px 15px;
}
.chat li .chatTag{
    width: 20px;
    height: 20px;
    position: absolute;
    right:0;
    border-radius: 5px;
    color:#fff;
    background-color: #ee2d56;
}
.chat li img{
    border: solid 5px #fff;
}


.profileList .square{
    border-radius: 0;
}

.mobileList{
    margin: 0 auto;
    overflow: hidden;
    max-width:300px; 
    height: auto;
}

/*-*-*-*-*-*-*-Follower requests-*-*-*-*-*-*-*/

.textbox{
     position: absolute;
    margin-top: -75px;
    left: 145px;
}

.btns{
    display: inline-block;
    float: right;
}

.followList li{
    margin-bottom: 30px;
}

/*-*-*-*-*-*-*-Profile-*-*-*-*-*-*-*/

.complete{
    width:100%;
}

.complete .edit{
    float: right;
    margin-top: 5px;
}

.circleP{
    text-align: center;
    /* float: left; */
    width: 35px;
    height: 35px;
    /* display: inline; */
    border: solid 1px #7c7c7e;
    border-radius: 50%;
    /* padding: 7px 14px; */
    line-height: 35px;
    margin: 0 auto;
}

/*Footer styles*/

.bar-footer {
	height: 90px;
	background: transparent;
}
.terms{
	width: 100%;
}

.bar{
    background: none !important;
}
